body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  width: 100%;
  display: flex;
}

label {
  font-size: 22px;
  padding: 7px 0 0 0;
}
input[type="text"] {
  width: calc(100% - 25px);
  padding: 12px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

button {
  width: 120px;
  padding: 6px;
  background: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background: #4cae4c;
}

ul {
  list-style: none;
  padding: 0;
}
.nav-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-list ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.todos li {
  padding: 10px;
  background: #f9f9f9;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todos li:nth-child(odd) {
  background: #f1f1f1;
}

.todos li button {
  background: #d9534f;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

li button:hover {
  background: #c9302c;
}

footer{
    width:100%;
    display: flex;
    justify-content: center;
}